@use 'variables' as a;

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.preview {
  max-width: 32.5rem;
  border-radius: 2rem;
  background: a.$color-bg-qr;
  padding: 3rem;
  display: grid;
  gap: 2rem;
  &__qr {
    border-radius: 2rem;
    object-fit: cover;
  }
  &__title {
    font-size: a.$fs-main;
    color: a.$color-main;
    font-weight: a.$fw-700;
    text-align: center;
  }
  &__content {
    font-size: a.$fs-sub;
    color: a.$color-sub;
    text-align: center;
  }
}