// font //
$ff-main: 'Outfit', sans-serif;

// font size//
$fs-main: 2.5rem;
$fs-sub: 1.75rem;

// font weight//
$fw-400: 400;
$fw-700: 700;
// color //
$color-main: hsl(218, 44%, 22%);
$color-sub: hsl(212, 45%, 89%);
$color-bg: hsl(220, 15%, 55%);
$color-bg-qr: hsl(0, 0%, 100%);
